body {
    font-family: 'Georgia', serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #194419;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #ffd700;
}

nav {
    background-color: #194419;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #ffd700;
    color: #006400;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

img.heropic {
    width: auto;
    max-width: 150px;
    height: auto;
}

img.header-image {
    width: 100%;
    height: auto;
    max-width: 1800px;
    display: block;
    margin: 0 auto;
}

img.history1 {
    max-width: 300px;
    height: auto;
    margin-right: 20px;
}

.content {
    background: white;
    font-size: 20px;
    padding: 80px;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.P4Pcontent {
    background: white;
    color: #194419;
    font-weight: bold;
    text-decoration: none;
    width: 40%;
    max-height: 30px;
    font-size: 20px;
    padding: 8px;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a:link {
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
}

img.historyheader {
    width: 100%;
}

.ontop {
    position: relative;
    text-align: center;
    color: white;
  }

  .center {
    font-size: 100px;
    font-weight: bold;
    color: #194419;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center1 {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center2 {
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.headerhis {
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #194419;
}

h3{
    color: #194419;
}

footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top: 5px solid #ffd700;
    margin-top: 20px;
}
