body {
    font-family: 'Georgia', serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #194419;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #ffd700;
}

nav {
    background-color: #194419;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #ffd700;
    color: #006400;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

.containerP4P {
    display: flex;
    width: 80%;
    margin: auto;
    overflow: hidden;
    align-items: center;
    padding: 20px 0;
}

img.heropic {
    width: auto;
    max-width: 150px;
    height: auto;
}

img.header-image {
    width: 100%;
    height: auto;
    max-width: 1800px;
    display: block;
    margin: 0 auto;
}

img.history1 {
    max-width: 300px;
    height: auto;
    margin-right: 20px;
}

.content {
    background: white;
    font-size: 20px;
    padding: 80px;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.P4Pcontent {
    background: white;
    color: #194419;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 40%;
    max-height: 30px;
    font-size: 20px;
    padding: 8px;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.P4Pcontentheros {
    background: white;
    color: #194419;
    font-weight: bold;
    text-decoration: none;
    display: block;
    align-items: center;
    width: 40%;
    font-size: 20px;
    padding: 20px;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a:link {
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
}

img.historyheader {
    width: 100%;
}

img.P4Phero {
    max-height: 400px;
    display: flex;
    align-items: center;
}

.ontop {
    position: relative;
    text-align: center;
    color: white;
  }

  .center {
    font-size: 100px;
    font-weight: bold;
    color: #194419;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center1 {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center2 {
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.headerhis {
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #194419;
}

h3{
    color: #194419;
}

footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top: 5px solid #ffd700;
    margin-top: 20px;
}

.fighter-profile {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.fighter-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fighter-image {
    max-width: 200px;
    margin-right: 20px;
}

.fighter-info {
    text-align: left;
    color: #194419;
}

.record {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.record div {
    text-align: center;
}

.fight-history {
    margin-top: 20px;
}

.spotlight {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.spotlight-videos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video {
    max-width: 300px;
    margin: 10px;
}

.stats {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.stats-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stat {
    flex: 1 1 30%;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    text-align: center;
}


.results-table, .points-table {
    margin: 20px 0;
    overflow-x: auto; 
    width: 100%;
}

.results-table table, .points-table table {
    width: 100%;
    table-layout: fixed; /* Ensures that columns are evenly spaced */
    border-collapse: collapse;
}

.results-table th, .results-table td, .points-table th, .points-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    word-wrap: break-word; /* Allows words to break and prevent overflow */
}

.results-table th, .points-table th {
    background-color: #194419;
    color: white;
    font-weight: bold;
}

.results-table tr:nth-child(even), .points-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.results-table tr:hover, .points-table tr:hover {
    background-color: #ffd700;
    color: #194419;
}

